{
  "swagger": "2.0",
  "info": {
    "version": "7.18.0",
    "title": "Twine API",
    "x-logo": {
      "url": "http://developer.twinehealth.com/images/twinehealth_hz_4color.png"
    },
    "contact": {
      "email": "apiteam@twinehealth.com"
    },
    "description": "# Overview\nThe Twine Health API is RESTful API. The requests and responses are formated according to the [JSON API](http://jsonapi.org/format/1.0/) specification.\n\nIn addition to this documentation, we also provide an [OpenAPI](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md) \"yaml\" file describing the API: [Twine API Specification](swagger.yaml).\n\n# Authentication\nAuthentication for the Twine API is based on the [OAuth 2.0 Authorization Framework](https://tools.ietf.org/html/rfc6749). Twine currently supports grant types of **client_credentials** and **refresh_token**.\n\nSee [POST /oauth/token](#operation/createToken) for details on the request and response formats.\n<!-- ReDoc-Inject: <security-definitions> -->\n"
  },
  "host": "api.twinehealth.com",
  "basePath": "/pub",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/vnd.api+json"
  ],
  "produces": [
    "application/vnd.api+json"
  ],
  "securityDefinitions": {
    "twine_auth": {
      "description": "Get access to data while protecting your account credentials.\nOAuth2 is also a safer and more secure way to give you access.\n",
      "type": "oauth2",
      "authorizationUrl": "https://api.twinehealth.com/pub/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "group": "access patients and data within a group",
        "organization": "access patients and data within an organization"
      }
    }
  },
  "tags": [
    {
      "name": "oauth",
      "description": "Authentication operations"
    },
    {
      "name": "organization",
      "description": "An organization is a Twine customer. No data is accessible across organizations."
    },
    {
      "name": "group",
      "description": "A group is a cohort of patients within an organization. The creation of groups allows for the segmentation of dashboards and analytics. For example, a group might correspond to the patients in a particular practice or the employees of a particular employer."
    },
    {
      "name": "coach",
      "description": "A coach is a person that supports a patient"
    },
    {
      "name": "reward program",
      "description": "A reward program provides the details for a rewards program for a group. Different rewards programs can be created for different periods of time specified by the start_at and end_at dates. A reward program can activated for a patient any time between these dates. An activated reward program for a patient is called a reward program activation."
    },
    {
      "name": "action",
      "description": "An action is an actionable item in a patient's plan."
    },
    {
      "name": "bundle",
      "description": "A bundle is a collection of actions (an action plan) in a patient's plan summary."
    },
    {
      "name": "calendar event",
      "description": "A calendar event represents an event involving or relevant to a patient which will or has occurred on a specific date or during a specific period of time."
    },
    {
      "name": "email history",
      "description": "Email history represents a single email that was sent using twine."
    },
    {
      "name": "health profile",
      "description": "A health profile contains a set of health questions and answers for a patient."
    },
    {
      "name": "health profile answer",
      "description": "A health profile answer is the answer to a question for a patient."
    },
    {
      "name": "health profile question",
      "description": "A health profile question contains a health question and the corresponding answer for a patient."
    },
    {
      "name": "health question definition",
      "description": "A health question definition specifies a health question and the corresponding answer choices."
    },
    {
      "name": "metric",
      "description": "A metric is a quantitative result for a patient. For example, vital signs, lab results, etc. are all metrics."
    },
    {
      "name": "patient",
      "description": "A patient is the core user of Twine."
    },
    {
      "name": "plan",
      "description": "A plan is the set of actions and associated goals for a patient."
    },
    {
      "name": "reward",
      "description": "A reward allocates a portion of the budget from the reward program activation for achieving a particular goal and sets a target date."
    },
    {
      "name": "reward earning",
      "description": "A reward earning specifies the portion of a reward that was earned and at what date."
    },
    {
      "name": "reward earning fulfillment",
      "description": "A reward earning fulfillment specifies the portion of a reward earning that was fulfilled and at what date."
    },
    {
      "name": "reward program activation",
      "description": "A reward program activation is the activation of a reward program for a specific patient."
    }
  ],
  "x-tagGroups": [
    {
      "name": "Authentication (oauth)",
      "tags": [
        "oauth"
      ]
    },
    {
      "name": "Admin",
      "tags": [
        "organization",
        "group",
        "coach",
        "reward program"
      ]
    },
    {
      "name": "Patient Data",
      "tags": [
        "action",
        "bundle",
        "calendar event",
        "email history",
        "health profile",
        "health profile answer",
        "health profile question",
        "health question definition",
        "metric",
        "patient",
        "plan",
        "reward",
        "reward earning",
        "reward earning fulfillment",
        "reward program activation"
      ]
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "tags": [
          "oauth"
        ],
        "summary": "Create an oauth token",
        "description": "Create an OAuth 2.0 Bearer token. A valid bearer token is required for all other API requests.\n\nBe sure to set the header `Content-Type: \"application/vnd.api+json\"`. Otherwise, you will get an error\n403 Forbidden. Using `Content-Type: \"application/json\"` is permitted (to support older oauth clients) but when\nusing `application/json` the body should have a body in the following format instead of nesting under\n`data.attributes`:\n```\n{\n  \"grant_type\": \"client_credentials\",\n  \"client_id\": \"95c78ab2-167f-40b8-8bec-8398d4b87454\",\n  \"client_secret\": \"35d18dc9-a3dd-4948-b787-063a490b9354\"\n}\n```\n",
        "operationId": "createToken",
        "consumes": [
          "application/vnd.api+json",
          "application/json"
        ],
        "parameters": [
          {
            "name": "include",
            "description": "List of related resources to include in the response",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "groups",
              "organization"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTokenRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CreateTokenResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          }
        },
        "security": [
          {
            "twine_auth": [
              "group",
              "organization"
            ]
          }
        ]
      }
    },
    "/oauth/token/{id}/groups": {
      "get": {
        "tags": [
          "oauth"
        ],
        "summary": "Get the groups for a token",
        "description": "Get the list of groups a token can be used to access.",
        "operationId": "fetchTokenGroups",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Token identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchGroupsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        },
        "security": [
          {
            "twine_auth": [
              "group",
              "organization"
            ]
          }
        ]
      }
    },
    "/oauth/token/{id}/organization": {
      "get": {
        "tags": [
          "oauth"
        ],
        "summary": "Get the organization for a token",
        "description": "Get the organization a token can be used to access.",
        "operationId": "fetchTokenOrganization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Token identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchOrganizationResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/organization/{id}": {
      "get": {
        "tags": [
          "organization"
        ],
        "summary": "Get an organization",
        "description": "Get an organization record by id.",
        "operationId": "fetchOrganization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchOrganizationResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/group": {
      "post": {
        "tags": [
          "group"
        ],
        "summary": "Create a group",
        "description": "Create a group record.",
        "operationId": "createGroup",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateGroupRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CreateGroupResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "group"
        ],
        "summary": "List groups",
        "description": "Get a list of groups matching the specified filters.",
        "operationId": "fetchGroups",
        "parameters": [
          {
            "name": "filter[organization]",
            "in": "query",
            "description": "Organization identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter[name]",
            "in": "query",
            "description": "Group name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchGroupsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/group/{id}": {
      "get": {
        "tags": [
          "group"
        ],
        "summary": "Get a group",
        "description": "Get a group record by id.",
        "operationId": "fetchGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Group identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchGroupResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/coach/{id}": {
      "get": {
        "tags": [
          "coach"
        ],
        "summary": "Get a coach",
        "description": "Get a coach record by id.",
        "operationId": "fetchCoach",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Coach identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchCoachResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/reward_program": {
      "post": {
        "tags": [
          "reward program"
        ],
        "summary": "Create a reward program",
        "description": "Create a reward program for a group.",
        "operationId": "createRewardProgram",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRewardProgramRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateRewardProgramResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "reward program"
        ],
        "summary": "List reward programs",
        "description": "Get a list of reward programs matching the specified filters.",
        "operationId": "fetchRewardPrograms",
        "parameters": [
          {
            "name": "filter[groups]",
            "in": "query",
            "description": "Comma-separated list of group identifiers",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchRewardProgramsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/reward_program/{id}": {
      "get": {
        "tags": [
          "reward program"
        ],
        "summary": "Get a reward program",
        "description": "Get a reward program record by id.",
        "operationId": "fetchRewardProgram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Reward program identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchRewardProgramResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/reward_program/{id}/group": {
      "get": {
        "tags": [
          "reward program"
        ],
        "summary": "Get group for a reward program",
        "description": "Get the group related to a reward program.",
        "operationId": "fetchRewardProgramGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Reward program identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchGroupsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/action": {
      "post": {
        "tags": [
          "action"
        ],
        "summary": "Create action",
        "description": "Create a plan action",
        "operationId": "createAction",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateActionRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateActionResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          }
        }
      }
    },
    "/action/{id}": {
      "get": {
        "tags": [
          "action"
        ],
        "summary": "Get an action",
        "description": "Get a health action from a patient's plan.",
        "operationId": "fetchAction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Action identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchActionResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "action"
        ],
        "summary": "Update an action",
        "description": "Update a health action from a patient's plan.",
        "operationId": "updateAction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Action identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateActionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateActionResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          }
        }
      }
    },
    "/bundle": {
      "post": {
        "tags": [
          "bundle"
        ],
        "summary": "Create bundle",
        "description": "Create a bundle in a patient's plan",
        "operationId": "createBundle",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateBundleRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateBundleResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          }
        }
      }
    },
    "/bundle/{id}": {
      "get": {
        "tags": [
          "bundle"
        ],
        "summary": "Get a bundle",
        "description": "Get a bundle from a patient's plan.",
        "operationId": "fetchBundle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bundle identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchBundleResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "bundle"
        ],
        "summary": "Update a bundle",
        "description": "Updte a bundle from a patient's plan.",
        "operationId": "updateBundle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bundle identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateBundleRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateBundleResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          }
        }
      }
    },
    "/calendar_event": {
      "post": {
        "tags": [
          "calendar event"
        ],
        "summary": "Create calendar event",
        "description": "Create a calendar event for a patient. Attribute `all_day` must be set to `true` and `end_at` cannot be set for `plan-check-in` event type.",
        "operationId": "createCalendarEvent",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCalendarEventRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateCalendarEventResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "calendar event"
        ],
        "summary": "List calendar events",
        "description": "Get a list of calendar events",
        "operationId": "fetchCalendarEvents",
        "parameters": [
          {
            "name": "filter[patient]",
            "in": "query",
            "type": "string",
            "description": "Patient id to fetch calendar event. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, `filter[organization]`, or `filter[attendees]`.\n"
          },
          {
            "name": "filter[groups]",
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, `filter[organization]`, or `filter[attendees]`.\n"
          },
          {
            "name": "filter[organization]",
            "in": "query",
            "type": "string",
            "description": "Twine organization id. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, `filter[organization]`, or `filter[attendees]`.\n"
          },
          {
            "name": "filter[attendees]",
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of coach or patient ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, `filter[organization]`, or `filter[attendees]`.\n"
          },
          {
            "name": "filter[type]",
            "in": "query",
            "type": "string",
            "description": "Calendar event type",
            "enum": [
              "plan-check-in",
              "reminder",
              "telephone-call",
              "office-visit",
              "video-call"
            ]
          },
          {
            "name": "filter[completed]",
            "in": "query",
            "type": "boolean",
            "description": "If not specified, return all calendar events. If set to `true` return only events marked as completed, if set to `false`, return only events not marked as completed yet."
          },
          {
            "name": "filter[start_at]",
            "in": "query",
            "type": "string",
            "description": "The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for events starting in November 2017 (America/New_York): `filter[start_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`\n"
          },
          {
            "name": "filter[end_at]",
            "in": "query",
            "type": "string",
            "description": "The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for events ending in November 2017 (America/New_York): `filter[end_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`\n"
          },
          {
            "name": "filter[completed_at]",
            "in": "query",
            "type": "string",
            "description": "The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for events completed in November 2017 (America/New_York): `filter[completed_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`\n"
          },
          {
            "name": "filter[created_at]",
            "in": "query",
            "type": "string",
            "description": "The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for events created in November 2017 (America/New_York): `filter[created_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`\n"
          },
          {
            "name": "filter[updated_at]",
            "in": "query",
            "type": "string",
            "description": "The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for events updated in November 2017 (America/New_York): `filter[updated_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`\n"
          },
          {
            "name": "page[number]",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "default": 1
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Page size",
            "required": false,
            "type": "integer",
            "default": 10,
            "maximum": 50
          },
          {
            "name": "include",
            "description": "List of related resources to include in the response",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "owner"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchCalendarEventsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/calendar_event/{id}": {
      "get": {
        "tags": [
          "calendar event"
        ],
        "summary": "Get a calendar event",
        "description": "Get a calendar event by id",
        "operationId": "fetchCalendarEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Calendar event identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchCalendarEventResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "calendar event"
        ],
        "summary": "Update a calendar event",
        "description": "Update a calendar event for a patient. Attribute `all_day` must be true and `end_at` cannot be specified for `plan-check-in` event type. To mark a calendar event as 'completed', set `completed_at` and `completed_by` to desired values.  To mark a completed calendar event as 'not completed', set `completed_at` and `completed_by` to `null`.",
        "operationId": "updateCalendarEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Calendar event identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCalendarEventRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateCalendarEventResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "calendar event"
        ],
        "summary": "Delete a calendar event",
        "description": "Delete a calendar event by id",
        "operationId": "deleteCalendarEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Calendar event identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/email_history": {
      "get": {
        "tags": [
          "email history"
        ],
        "summary": "List email histories",
        "description": "Get a list of email histories",
        "operationId": "fetchEmailHistories",
        "parameters": [
          {
            "name": "filter[receiver]",
            "in": "query",
            "type": "string",
            "description": "Twine user id of email recipient. Required if filter[sender] is not defined."
          },
          {
            "name": "filter[sender]",
            "in": "query",
            "type": "string",
            "description": "Twine user id of email sender. Required if filter[receiver] is not defined."
          },
          {
            "name": "filter[emailType]",
            "in": "query",
            "type": "string",
            "description": "Type of email"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "valid sorts:\n  * send_time - ascending by send_time\n  * -send_time - descending by send_time\n",
            "type": "string",
            "enum": [
              "send_time",
              "-send_time"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchEmailHistoriesResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/email_history/{id}": {
      "get": {
        "tags": [
          "email history"
        ],
        "summary": "Get an email history",
        "description": "Get an email history by id",
        "operationId": "fetchEmailHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Email history identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchEmailHistoryResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/health_profile": {
      "get": {
        "tags": [
          "health profile"
        ],
        "summary": "List health profiles",
        "description": "Get a list of health profiles",
        "operationId": "fetchHealthProfiles",
        "parameters": [
          {
            "name": "filter[patient]",
            "in": "query",
            "type": "string",
            "description": "Patient id to fetch health profile. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.\n"
          },
          {
            "name": "filter[groups]",
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.\n"
          },
          {
            "name": "filter[organization]",
            "in": "query",
            "type": "string",
            "description": "Twine organization id. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.\n"
          },
          {
            "name": "page[number]",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "default": 1
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Page size",
            "required": false,
            "type": "integer",
            "default": 10,
            "maximum": 50
          },
          {
            "name": "include",
            "description": "List of related resources to include in the response",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "patient",
              "questions"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchHealthProfilesResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/health_profile/{id}": {
      "get": {
        "tags": [
          "health profile"
        ],
        "summary": "Get a health profile",
        "description": "Get a health profile by id",
        "operationId": "fetchHealthProfile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Health profile identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "include",
            "description": "List of related resources to include in the response",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "patient",
              "questions"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchHealthProfileResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/health_profile_question/{id}": {
      "get": {
        "tags": [
          "health profile question"
        ],
        "summary": "Get a health profile question",
        "description": "Get a health profile by id",
        "operationId": "fetchHealthProfileQuestion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Health profile question identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "include",
            "description": "List of related resources to include in the response",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "question_definition",
              "answer"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchHealthProfileQuestionResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/health_profile_answer": {
      "get": {
        "tags": [
          "health profile answer"
        ],
        "summary": "List health profile answers",
        "description": "Get a list of health profile answers",
        "operationId": "fetchHealthProfileAnswers",
        "parameters": [
          {
            "name": "filter[patient]",
            "in": "query",
            "type": "string",
            "description": "Patient id to fetch healt profile answers. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.\n"
          },
          {
            "name": "filter[groups]",
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.\n"
          },
          {
            "name": "filter[organization]",
            "in": "query",
            "type": "string",
            "description": "Twine organization id. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.\n"
          },
          {
            "name": "page[number]",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "default": 1
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Page size",
            "required": false,
            "type": "integer",
            "default": 50,
            "maximum": 100
          },
          {
            "name": "include",
            "description": "List of related resources to include in the response",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "patient"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchHealthProfileAnswersResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/health_profile_answer/{id}": {
      "get": {
        "tags": [
          "health profile answer"
        ],
        "summary": "Get a health profile answer",
        "description": "Get a health profile answer by id",
        "operationId": "fetchHealthProfileAnswer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Health profile answer identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "include",
            "description": "List of related resources to include in the response",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "patient"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchHealthProfileAnswerResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/health_question_definition": {
      "get": {
        "tags": [
          "health question definition"
        ],
        "summary": "List health question definitions",
        "description": "Get a list of all health question definitions",
        "operationId": "fetchHealthQuestionDefinitions",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchHealthQuestionDefinitionsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/health_question_definition/{id}": {
      "get": {
        "tags": [
          "health question definition"
        ],
        "summary": "Get a health question definition",
        "description": "Get a health question definition by id",
        "operationId": "fetchHealthQuestionDefinition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Health question definition identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchHealthQuestionDefinitionResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/patient_health_metric": {
      "post": {
        "tags": [
          "metric"
        ],
        "summary": "Create patient health metrics",
        "description": "Create one or more patient health metrics.\n\nExample for creating a patient health result with a patient specified using `meta.query` instead of `id`:\n\n```JSON\n  {\n    \"data\": {\n      \"type\": \"patient_health_metric\",\n       \"attributes\": {\n         \"code\": {\n           \"system\": \"LOINC\",\n           \"value\": \"13457-7\"\n         },\n         \"type\": \"ldl_cholesterol\",\n         \"occurred_at\": \"2017-03-14T11:00:57.000Z\",\n         \"value\": \"121\",\n         \"unit\": \"mg/dl\"\n      },\n      \"relationships\": {\n        \"patient\": {\n          \"data\": {\n            \"type\": \"patient\",\n            \"meta\": {\n              \"query\": {\n                \"identifier\": {\n                  \"system\": \"medical-record-number\",\n                  \"value\": \"121212\"\n                },\n                \"organization\": \"58c4554710123c5c40dbab81\"\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n```\n",
        "operationId": "createPatientHealthMetric",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePatientHealthMetricRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreatePatientHealthMetricResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "metric"
        ],
        "summary": "List patient health metrics",
        "description": "Get a list of patient health metrics.",
        "operationId": "fetchPatientHealthMetrics",
        "parameters": [
          {
            "name": "filter[patient]",
            "in": "query",
            "description": "Filter the patient health metrics for a specified patient",
            "required": true,
            "type": "string"
          },
          {
            "name": "page[number]",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "default": 1
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Page size",
            "required": false,
            "type": "integer",
            "default": 10,
            "maximum": 50
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchPatientHealthMetricResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/patient_health_metric/{id}": {
      "get": {
        "tags": [
          "metric"
        ],
        "summary": "Get a patient health metric",
        "description": "Get the plan summary for a patient.",
        "operationId": "fetchPatientHealthMetric",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Patient health metric identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchPatientHealthMetricResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/patient": {
      "post": {
        "tags": [
          "patient"
        ],
        "summary": "Create a patient",
        "description": "Create a patient record.\n\nExample for creating a patient with a group specified using `meta.query` instead of `id`:\n\n```JSON\n{\n  \"data\": {\n    \"type\": \"patient\",\n    \"attributes\": {\n      \"first_name\": \"Andrew\",\n      \"last_name\": \"Smith\"\n    },\n    \"relationships\": {\n      \"groups\": {\n        \"data\": [\n          {\n            \"type\": \"group\",\n            \"meta\": {\n              \"query\": {\n                \"organization\": \"58c88de7c93eb96357a87033\",\n                \"name\": \"Patients Lead\"\n              }\n            }\n          }\n        ]\n      }\n    }\n  }\n}\n```\n",
        "operationId": "createPatient",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePatientRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CreatePatientResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "patient"
        ],
        "summary": "List patients",
        "description": "Get a list of patients.",
        "operationId": "fetchPatients",
        "parameters": [
          {
            "name": "filter[groups]",
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of group ids. Note that either `filter[group]` or `filter[organization]` must be specified."
          },
          {
            "name": "filter[organization]",
            "in": "query",
            "type": "string",
            "description": "Twine organization id. Note that either `filter[group]` or `filter[organization]` must be specified."
          },
          {
            "name": "filter[identifier][system]",
            "in": "query",
            "type": "string",
            "description": "Identifier system (example: \"MyEHR\") - requires a \"filter[identifier][value]\" parameter"
          },
          {
            "name": "filter[identifier][value]",
            "in": "query",
            "type": "string",
            "description": "Identifier value (example: \"12345\") - requires a \"filter[identifier][system]\" parameter"
          },
          {
            "name": "filter[archived]",
            "in": "query",
            "type": "boolean",
            "description": "If not specified, return all patients. If set to 'true' return only archived patients, if set to 'false', return only patients who are not archived."
          },
          {
            "name": "filter[created_at]",
            "in": "query",
            "type": "string",
            "description": "The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for patients created in November 2017 (America/New_York): `filter[created_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`\n"
          },
          {
            "name": "filter[updated_at]",
            "in": "query",
            "type": "string",
            "description": "The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for patients updated in November 2017 (America/New_York): `filter[updated_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`\n"
          },
          {
            "name": "page[number]",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "default": 1
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Page size",
            "required": false,
            "type": "integer",
            "default": 10,
            "maximum": 50
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchPatientsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/patient/{id}": {
      "get": {
        "tags": [
          "patient"
        ],
        "summary": "Get a patient",
        "description": "Gets a patient record by id.",
        "operationId": "fetchPatient",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Patient identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchPatientResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "patient"
        ],
        "summary": "Update a patient",
        "description": "Update a patient record.",
        "operationId": "updatePatient",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Patient identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdatePatientRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdatePatientResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          }
        }
      }
    },
    "/patient/{id}/groups": {
      "get": {
        "tags": [
          "patient"
        ],
        "summary": "List groups for a patient",
        "description": "Get the list of groups for a patient.",
        "operationId": "fetchPatientGroups",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Patient identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchGroupsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/patient/{id}/coaches": {
      "get": {
        "tags": [
          "patient"
        ],
        "summary": "List coaches for a patient",
        "description": "Get the list of coaches for a patient.",
        "operationId": "fetchPatientCoaches",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Patient identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchCoachesResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/patient_plan_summary": {
      "get": {
        "tags": [
          "plan"
        ],
        "summary": "List patient plan summaries",
        "description": "Get a list of patient plan summaries",
        "operationId": "fetchPatientPlanSummaries",
        "parameters": [
          {
            "name": "filter[patient]",
            "in": "query",
            "type": "string",
            "description": "Patient id to fetch plan summary for",
            "required": true
          },
          {
            "name": "include",
            "description": "List of related resources to include in the response",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "actions",
              "bundles",
              "patient",
              "current_results"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchPatientPlanSummariesResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/patient_plan_summary/{id}": {
      "get": {
        "tags": [
          "plan"
        ],
        "summary": "Get the plan summary for a patient",
        "description": "Get the plan summary for a patient.",
        "operationId": "fetchPatientPlanSummary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Plan summary identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "include",
            "description": "List of related resources to include in the response",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "actions",
              "bundles",
              "patient",
              "current_results"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchPatientPlanSummaryResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "plan"
        ],
        "summary": "Update a plan summary",
        "description": "Update a plan summary record for a patient.",
        "operationId": "updatePatientPlanSummary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Plan summary identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdatePatientPlanSummaryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdatePatientPlanSummaryResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          }
        }
      }
    },
    "/reward": {
      "post": {
        "tags": [
          "reward"
        ],
        "summary": "Create a reward",
        "description": "Create a reward for a patient.",
        "operationId": "createReward",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRewardRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateRewardResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "reward"
        ],
        "summary": "List rewards",
        "description": "Get a list of rewards matching the specified filters.",
        "operationId": "fetchRewards",
        "parameters": [
          {
            "name": "filter[patient]",
            "in": "query",
            "description": "Patient identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter[reward_program_activation]",
            "in": "query",
            "description": "Reward program activation identifier",
            "type": "string"
          },
          {
            "name": "filter[thread]",
            "in": "query",
            "description": "Thread identifier",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchRewardsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/reward/{id}": {
      "get": {
        "tags": [
          "reward"
        ],
        "summary": "Get a reward",
        "description": "Get a reward record by id.",
        "operationId": "fetchReward",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Reward identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchRewardResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/reward_earning": {
      "post": {
        "tags": [
          "reward earning"
        ],
        "summary": "Create a reward earning",
        "description": "Create a reward earning for a reward. There can only be one earning for a reward. It is possilble to create multiple reward earnings simultaneously by providing and array of reward earnings in the data property.",
        "operationId": "createRewardEarning",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRewardEarningRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateRewardEarningResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "reward earning"
        ],
        "summary": "List reward earnings",
        "description": "Get a list of reward earnings matching the specified filters.",
        "operationId": "fetchRewardEarnings",
        "parameters": [
          {
            "name": "filter[groups]",
            "in": "query",
            "description": "Group identifiers",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter[patient]",
            "in": "query",
            "description": "Patient identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter[ready_for_fulfillment]",
            "in": "query",
            "description": "If true, only returns those reward earnings for which ready_for_fulfillment is true and fulfilled_at is null. If false, only returns those reward earnings for which ready_for_fulfillment is false and fulfilled_at is null.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchRewardEarningsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/reward_earning/{id}": {
      "get": {
        "tags": [
          "reward earning"
        ],
        "summary": "Get a reward earning",
        "description": "Get a reward earning record by id.",
        "operationId": "fetchRewardEarning",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Reward earning identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchRewardEarningResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/reward_earning_fulfillment": {
      "post": {
        "tags": [
          "reward earning fulfillment"
        ],
        "summary": "Create a reward earning fulfillment",
        "description": "Create a reward earning fulfillment for a reward earning. There can only be one fulfillment for each earning.",
        "operationId": "createRewardEarningFulfillment",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRewardEarningFulfillmentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateRewardEarningFulfillmentResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "reward earning fulfillment"
        ],
        "summary": "List reward earning fulfillments",
        "description": "Get a list of reward earning fulfillments matching the specified filters.",
        "operationId": "fetchRewardEarningFulfillments",
        "parameters": [
          {
            "name": "filter[patient]",
            "in": "query",
            "description": "Patient identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchRewardEarningFulfillmentsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/reward_earning_fulfillment/{id}": {
      "get": {
        "tags": [
          "reward earning fulfillment"
        ],
        "summary": "Get a reward earning fulfillment",
        "description": "Get a reward earning fulfillment record by id.",
        "operationId": "fetchRewardEarningFulfillment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Reward earning fulfillment identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchRewardEarningFulfillmentResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/reward_program_activation": {
      "post": {
        "tags": [
          "reward program activation"
        ],
        "summary": "Create a reward program activation",
        "description": "Create a reward program activation for a patient. There can only be one activation for a patient for a given reward program.",
        "operationId": "createRewardProgramActivation",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRewardProgramActivationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateRewardProgramActivationResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          },
          "409": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "reward program activation"
        ],
        "summary": "List reward program activations",
        "description": "Get a list of reward program activations matching the specified filters.",
        "operationId": "fetchRewardProgramActivations",
        "parameters": [
          {
            "name": "filter[patient]",
            "in": "query",
            "description": "Patient identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchRewardProgramActivationsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    },
    "/reward_program_activation/{id}": {
      "get": {
        "tags": [
          "reward program activation"
        ],
        "summary": "Get a reward program activation",
        "description": "Get a reward program activationrecord by id.",
        "operationId": "fetchRewardProgramActivation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Reward program activation identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FetchRewardProgramActivationResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/FetchErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "attributes": {
          "type": "object"
        }
      }
    },
    "CreateOrUpdateMetaResponse": {
      "type": "object",
      "properties": {
        "req_id": {
          "type": "string"
        },
        "ignored": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FetchMetaResponse": {
      "type": "object",
      "properties": {
        "req_id": {
          "type": "string"
        },
        "count": {
          "type": "integer"
        }
      }
    },
    "CollectionResponseLinks": {
      "type": "object",
      "properties": {
        "self": {
          "type": "string"
        },
        "next": {
          "type": "string"
        },
        "prev": {
          "type": "string"
        },
        "last": {
          "type": "string"
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        },
        "code": {
          "type": "string",
          "enum": [
            "Forbidden",
            "InvalidParameter",
            "InvalidBodyParameter",
            "ResourceNotFound",
            "Unauthorized",
            "InvalidCredentials",
            "InvalidGrantType"
          ]
        },
        "title": {
          "type": "string"
        },
        "detail": {
          "type": "string"
        },
        "source": {
          "type": "object",
          "properties": {
            "parameter": {
              "type": "string"
            },
            "pointer": {
              "type": "string"
            }
          }
        }
      }
    },
    "CreateOrUpdateErrorResponse": {
      "type": "object",
      "properties": {
        "meta": {
          "$ref": "#/definitions/CreateOrUpdateMetaResponse"
        },
        "errors": {
          "$ref": "#/definitions/Error"
        }
      },
      "example": {
        "meta": {
          "req_id": "d07c8b12-c95e-4a06-8424-92aac94bb445"
        },
        "errors": [
          {
            "code": "Unauthorized",
            "detail": "A valid bearer token is required",
            "status": "401"
          }
        ]
      }
    },
    "FetchErrorResponse": {
      "type": "object",
      "properties": {
        "meta": {
          "$ref": "#/definitions/FetchMetaResponse"
        },
        "errors": {
          "$ref": "#/definitions/Error"
        }
      },
      "example": {
        "meta": {
          "req_id": "d07c8b12-c95e-4a06-8424-92aac94bb445"
        },
        "errors": [
          {
            "code": "Unauthorized",
            "detail": "A valid bearer token is required",
            "status": "401"
          }
        ]
      }
    },
    "TokenResource": {
      "type": "object",
      "required": [
        "type",
        "id"
      ],
      "properties": {
        "type": {
          "type": "string",
          "example": "token",
          "enum": [
            "token"
          ]
        },
        "id": {
          "type": "string",
          "example": "57b36c9a04ad8c2224f2af35"
        },
        "attributes": {
          "required": [
            "access_token",
            "refresh_token",
            "token_type",
            "expires_in"
          ],
          "properties": {
            "access_token": {
              "type": "string",
              "example": "a01fe2bb-1977-48d9-b722-ac7f9135143f"
            },
            "refresh_token": {
              "type": "string",
              "example": "b452cb17-72e2-4e90-b9c6-d77a0b66cf7c"
            },
            "token_type": {
              "type": "string",
              "enum": [
                "bearer"
              ],
              "example": "bearer"
            },
            "expires_in": {
              "type": "integer",
              "example": 3600
            }
          }
        },
        "relationships": {
          "type": "object",
          "properties": {
            "groups": {
              "required": [
                "links",
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "type",
                      "id"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "group"
                        ],
                        "example": "group"
                      },
                      "id": {
                        "type": "string",
                        "example": "57b36d6f04ad8c2224f2af36"
                      }
                    }
                  }
                },
                "links": {
                  "required": [
                    "related"
                  ],
                  "properties": {
                    "related": {
                      "type": "string",
                      "pattern": "/oauth/token/[0-9a-z]+/groups",
                      "example": "/oauth/token/57b36d8804ad8c2224f2af37/groups"
                    }
                  }
                }
              }
            },
            "organization": {
              "required": [
                "links",
                "data"
              ],
              "properties": {
                "data": {
                  "required": [
                    "type",
                    "id"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "organization"
                      ],
                      "example": "organization"
                    },
                    "id": {
                      "type": "string",
                      "example": "57b36d6f04ad8c2224f2af36"
                    }
                  }
                },
                "links": {
                  "required": [
                    "related"
                  ],
                  "properties": {
                    "related": {
                      "type": "string",
                      "pattern": "/oauth/token/[0-9a-z]+/organization",
                      "example": "/oauth/token/57b36d8804ad8c2224f2af37/organization"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "CreateTokenRequest": {
      "type": "object",
      "required": [
        "data"
      ],
      "properties": {
        "data": {
          "type": "object",
          "required": [
            "attributes"
          ],
          "properties": {
            "type": {
              "type": "string",
              "enum": [
                "token"
              ],
              "example": "token"
            },
            "attributes": {
              "type": "object",
              "required": [
                "client_id",
                "grant_type"
              ],
              "properties": {
                "grant_type": {
                  "type": "string",
                  "enum": [
                    "refresh_token",
                    "client_credentials"
                  ],
                  "example": "client_credentials"
                },
                "client_id": {
                  "type": "string",
                  "description": "Contact Twine to get a client id and secret.",
                  "example": "19391dc5-8af8-4152-93e8-74ff9361607e"
                },
                "client_secret": {
                  "type": "string",
                  "description": "Contact Twine to get a client id and secret. Secret is required if grant_type is \"client_credentials\"",
                  "example": "63eca384-7a65-42e2-872b-afd3e8659d0a"
                },
                "refresh_token": {
                  "type": "string",
                  "description": "Required if grant_type is \"refresh_token\"",
                  "example": "b7dcc4a4-593b-4410-a0c5-97ae48939396"
                }
              }
            }
          }
        }
      },
      "example": {
        "data": {
          "type": "oauth/token",
          "attributes": {
            "grant_type": "client_credentials",
            "client_id": "95c78ab2-167f-40b8-8bec-8398d4b87454",
            "client_secret": "35d18dc9-a3dd-4948-b787-063a490b9354"
          }
        }
      }
    },
    "CreateTokenResponse": {
      "type": "object",
      "required": [
        "data"
      ],
      "properties": {
        "meta": {
          "$ref": "#/definitions/CreateOrUpdateMetaResponse"
        },
        "data": {
          "$ref": "#/definitions/TokenResource"
        },
        "included": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupResource"
          }
        }
      },
      "example": {
        "meta": {
          "req_id": "2de51f1a-bafa-4e48-a0d0-cd8d4a9ffb28"
        },
        "data": {
          "type": "oauth/token",
          "id": "5817a24d678a7c2cbf5df3ee",
          "attributes": {
            "access_token": "c1b83534-76c1-4a27-b1d4-8140e24dd7c6",
            "refresh_token": "a38d192a-76fd-4b1d-954c-893c9d29c8f4",
            "token_type": "bearer",
            "expires_in": 3601
          },
          "relationships": {
            "groups": {
              "data": [
                {
                  "type": "group",
                  "id": "5755db2a3db4179179999acf"
                }
              ],
              "links": {
                "related": "/pub/oauth/token/5817a24d678a7c2cbf5df3ee/groups"
              }
            }
          }
        }
      }
    },
    "OrganizationResource": {
      "type": "object",
      "required": [
        "id",
        "type",
        "attributes"
      ],
      "properties": {
        "id": {
          "type": "string",
          "example": "57b36e3c04ad8c2224f2af38"
        },
        "type": {
          "type": "string",
          "enum": [
            "organization"
          ],
          "example": "organization"
        },
        "attributes": {
          "required": [
            "name"
          ],
          "properties": {
            "name": {
              "type": "string",
              "example": "Health Activation Partners"
            }
          }
        },
        "links": {
          "readOnly": true,
          "required": [
            "self"
          ],
          "properties": {
            "self": {
              "type": "string",
              "pattern": "/organization/[0-9a-z]+",
              "example": "/organization/57b36e3c04ad8c2224f2af38"
            }
          }
        }
      }
    },
    "FetchOrganizationResponse": {
      "type": "object",
      "required": [
        "data"
      ],
      "properties": {
        "meta": {
          "$ref": "#/definitions/FetchMetaResponse"
        },
        "data": {
          "$ref": "#/definitions/OrganizationResource"
        }
      },
      "example": {
        "meta": {
          "req_id": "aeb94ed8-d7f9-4e72-a78f-e276c4f52c2a"
        },
        "data": {
          "type": "organization",
          "id": "5873b63605376e337a89d64a",
          "attributes": {
            "name": "Health Activation Partners"
          },
          "links": {
            "self": "/pub/organization/5873b63605376e337a89d64a"
          }
        }
      }
    },
    "GroupResource": {
      "type": "object",
      "required": [
        "id",
        "type",
        "attributes"
      ],
      "properties": {
        "id": {
          "type": "string",
          "example": "57b36e3c04ad8c2224f2af38"
        },
        "type": {
          "type": "string",
          "enum": [
            "group"
          ],
          "example": "group"
        },
        "attributes": {
          "type": "object",
          "required": [
            "name"
          ],
          "properties": {
            "name": {
              "type": "string",
              "example": "Team Health"
            }
          }
        },
        "links": {
          "type": "object",
          "readOnly": true,
          "required": [
            "self"
          ],
          "properties": {
            "self": {
              "type": "string",
              "pattern": "/group/[0-9a-z]+",
              "example": "/group/57b36e3c04ad8c2224f2af38"
            }
          }
        }
      }
    },
    "FetchGroupResponse": {
      "type": "object",
      "required": [
        "data"
      ],
      "properties": {
        "meta": {
          "$ref": "#/definitions/FetchMetaResponse"
        },
        "data": {
          "$ref": "#/definitions/GroupResource"
        }
      },
      "example": {
        "meta": {
          "req_id": "2b59851e-0f6c-4a8f-a8a6-15bd7c0346e7"
        },
        "data": {
          "type": "group",
          "id": "5755db2a3db4179179999acf",
          "attributes": {
            "name": "Patients Lead"
          },
          "links": {
            "self": "/pub/group/5755db2a3db4179179999acf"
          }
        }
      }
    },
    "FetchGroupsResponse": {
      "type": "object",
      "required": [
        "data"
      ],
      "properties": {
        "meta": {
          "$ref": "#/definitions/FetchMetaResponse"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupResource"
          }
        }
      },
[...]
